body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fafafa;
  color: #222222;
}

main {
  max-width: 950px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #111111;
}

p {
  font-size: 30px;
}
