main {
  max-width: 700px;
  margin: 80px auto;
  padding: 40px;
  background-color: #6427c6;
  border-radius: 10px;
}

h1 {
  font-family: sans-serif;
  color: #f9f3f3;
  font-size: 50px;
}

p {
  font-family: sans-serif;
  color: #dc183c;
  font-size: 20px;
}
body {
  background-color: yellow;
}
