body {
  max-width: 650px;
  margin: 60px auto;
  padding: 30px;
  background-color: #de6a6a;
  border-radius: 12px;
  text-align: left;
}

h1 {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 60px;
}

p {
  font-family: sans-serif;
  color: #022306;
  font-size: 24px;
}
